[2017-12-08 11:28] drnickisaac opened #1 "Harmonization of MSI"
MSI function is currently not compatible with the data structure for bma functions.  I can convert it as follows

msi_data <- data_in
msi_data$species <- as.factor(as.character(msi_data$species))
msi_data$index <- 10^(msi_data$index) # puts the data on the measurement scale
msi_data$se <- msi_data$index * msi_data$se # delta method - the function actually does the reverse

But it would be better i

[2017-12-08 11:31] drnickisaac commented on #1
@AugustT
Also, it would be good if the msi plot function more closely resembled the format of plot_indicator

[2017-12-08 11:31] drnickisaac commented on #1
@AugustT
Similarly, the bootstrap_indicator function doesn't work with data in the format for bma()

[2017-12-08 11:32] AugustT commented on #1
Can you make these as independent issues?

[2017-12-08 11:40] drnickisaac opened #2 "Harmonization of MSI plotting function"
It would be good if the MSI plotting function more closely resembled the output from plot_indicator

[2017-12-08 11:41] drnickisaac opened #3 "Harmonization of bootstrap_indicator() with bma()"
The bootstrap_indicator function doesn't work with data in the format for bma()

[2017-12-08 11:51] drnickisaac opened #4 "rescaleYr in bma()"
I have modified the code in bma()
Previously, there was an argument rescaleYr1 with a default value of TRUE
I've replaced this with an argument rescaleYr with a default value of 1.
In the new version, it allows the indicator to be set to zero at some year other than 1.

Existing code *should* be compatible with this change unless rescaleYr1  was set to FALSE. It can be made compatible by replacing

[2017-12-19 02:54] drnickisaac opened #5 "Separate fitting from rescaling in bma()"
At present, bma() fits a model in JAGS then rescales the output. These should be separated into two different functions. The first function should return the JAGS model object. Ideally, the second function should be fully aligned with (and duplicate?) the existing rescale_indicator() function.

In practice, it may be best to achieve this by converting bma() into a wrapper with two components, of w

[2017-12-19 02:55] drnickisaac opened #6 "Meet to review modular design"
We should revisit the architecture and scope of the package.

[2017-12-19 02:58] drnickisaac commented on #6
The package will run several options for indicator calculation:
1. BMA (several variants)
2. bootstrap across sites
3. MSI
4. LPI
.... others?

We want to get to a place where all methods have functions that accept data in the same format, and that feed into functions for rescaling and plotting.

[2017-12-19 02:59] drnickisaac opened #7 "Disaggregate MSI"
The method currently known as MSI actually has two parts:
1. Monte Carlo resampling (after correcting for late arrival etc)
2. Smoothing
These should be separate functions.

[2017-12-19 03:00] drnickisaac opened #8 "obtain some reference datasets"
Within the package, we should have a set of datasets for testing and comparing the performance of the functions.

[2017-12-19 03:03] drnickisaac opened #9 "plot_indicator() to allow a second line"
Plotting two lines together might be a desirable and even common practice, e.g. the MSI typically plots the smoothed and unsmoothed versions of the same indicator. We might also want to plot MSI and BMA on the same axes.

I think this should be straightforward: add arguments "indicator2=NULL, CI2=NULL" into the call for the plot_indicator.

[2018-04-12 11:20] AugustT opened #10 "Aggregates and summarizing occdet"
I dont think the new regional analyses in sparta play well with the summarising function here

[2018-05-22 07:54] AugustT commented on #9
What is they want to add a third or fourth line?

[2018-05-22 09:02] AugustT opened #11 "Add new mean method that uses all interations"
Add in @GPowney work on mean estimations using all iterations

[2018-05-22 09:05] AugustT commented on #6
@drnickisaac @CharlieOuthwaite @GPowney Talk about models we have and to include

[2018-05-22 09:08] AugustT commented on #7
I'll look to see what needs to be done

[2018-05-22 09:12] AugustT commented on #5
park this until the other methods are ironed out

[2018-05-22 09:13] AugustT commented on #4
I'll have a think

[2018-05-22 09:14] AugustT commented on #3
will be addressed by move to melted data

[2018-05-22 09:16] AugustT commented on #8
The output of msi can still co into our plot function

[2018-05-22 09:17] AugustT commented on #2
Can do done using plot_indicator

[2018-05-22 09:17] #2 closed

[2018-05-22 09:17] AugustT commented on #1
will be addressed

[2018-05-22 09:18] AugustT opened #12 "Harmonising all input data formats"
All functions to take in the same type of data please

[2018-05-22 09:22] AugustT opened #13 "Specifiy scale required for all methods clearly"
This should be in the help docs and in the vignette

[2018-05-22 09:58] AugustT opened #14 "We need tests"
... lots of them

[2018-05-22 11:00] #6 closed

[2018-05-22 11:35] AugustT commented on #7
Okay, so the msi code is a straight up wrapper around the original code by Statistics Netherlands, with a few bells and whistles. Their code is pretty big (`msi_tool.R`).

Smoothing starts at `L406`. If I spent some time I could break their script in two. I just wonder whether this is a feature that is going to be useful for others?

[2018-05-22 11:47] AugustT commented on #10
@GPowney is going to import his function for reading in occupancy model output which will address this issue

[2018-05-22 11:49] drnickisaac opened #15 "Streamline BMA options"
Currently we have about 8 options for the BMA. Need to reduce these down to a set that is manageable, i.e. that will be used and are worth maintaining.

[2018-05-22 11:56] AugustT opened #16 "Add Lambda indicator to the vignette"
This method seems to have been missed out of the vignette, not really sure why, so let's add it in

[2018-05-22 11:58] AugustT opened #17 "Simple help to guide users to the right method"
Let's add a simple table to the vignette which describes, simply, the differences between our methods. The aim here should be to guide a novice towards the method that is appropriate for their data and the type of indicator they want to produce.

[2018-05-22 12:04] drnickisaac commented on #11
We discussed this together, There are basically two variants: 1) a geomean(occupancy) and 2) exp(mean(logit(occ))), i.e. geomean(odds). The first option is what @CharlieOuthwaite is using for her PhD "big paper analysis", the latter is what Gary is using for the 2018 pollinator indicator.

Both share a couple of features
- zero kludge: estimated occupacny of zero is reset to some small value
- req

[2018-05-22 15:33] AugustT commented on #16
I have added this in 1edcda0f62e42ee5c67f5eaf353f6db09a59b20f

[2018-05-22 15:33] #16 closed

[2018-05-22 16:04] GPowney commented on #11
I've added a function into BRCindicators, CompositeTrends. @CharlieOuthwaite can you test this against your code, do you get the same results?!

[2018-05-24 13:20] CharlieOuthwaite commented on #11
Just ran the "geometric_raw_occ" version on ants, the indicator values are the same.  The CIs are slightly different but I think that might be due to how things have been rescaled as mine start at 100 in year 1.

[2018-06-08 11:21] drnickisaac opened #19 "Make it easier to extract the BUGS code"
Steve Freeman and I have been trying to get the BUGS code out of this package and found it very frustratingly difficult. I've added an export statement at the top of bma_BUGS_models.R, but even then we found it difficult. Currently there are two options:

`BRCindicators:::bma_model_smooth_det2
`
which returns an unreadable mess, or

`BRCindicators:::bma_model_smooth_det2()`

which returns a file s

[2018-06-08 11:50] drnickisaac opened #20 "Noting dependency on car"
The package depends on the car package being preinstalled, such that the install_github() comment throws an error if it's not installed. Can we do something to prevent this happening?

An easy solution would be to note it on the instructions, but I imagine there is a more foolproof way.

[2018-06-08 14:01] AugustT commented on #20
I just needed to add it to the description file. Tested and works

[code]

[2018-06-08 14:01] #20 closed

[2018-06-08 14:06] AugustT commented on #19
I never intended the users to be able to read the BUGS code. Perhaps we could simply add a vignette which shows the code? Viewing it in the console is probably never going to be satisfactory.

In the meantime

[code]

[2018-11-28 17:02] AugustT opened #21 "Warning if Rhat not available for filtering"
Picked up by @BjornBeckmann and @GPowney there should be warning to say that rhat cannot be used for filtering if no rhat information is provided

https://github.com/BiologicalRecordsCentre/BRCindicators/blob/9ffbf77c8f16a09b5a4d2cc793a21751873174af/R/misc_functions.r#L230

[2019-01-11 12:49] AugustT opened #22 "Errors with new version of sparta"
The new version of sparta generates regional outputs, so there is no longer 1 set of psi.fs values but a number of different sets for regions (eg Wales) and aggregates (eg UK). We need to update the indicator package to deal with this.

@GPowney The line that needs to be change is here.

https://github.com/BiologicalRecordsCentre/BRCindicators/blob/9ffbf77c8f16a09b5a4d2cc793a21751873174af/R/misc_f

[2019-01-22 12:34] MartinStjernman opened #23 "Sorting problem in msi_tool when years span orders of magnitudes"
Dear developers,

I've detected a problem in the function msi_tool() when supplying index data where year is given as e.g. 1:10 instead of say 2001:2010. The problem appears when INP is merged with INP1 (lines 51:52 in the code as far as I can see). While I don't fully understand the rationale, this step is apparently done to sort data (INP) in species order. The step merges INP (with species in o

[2019-01-24 17:15] AugustT commented on #23
@MartinStjernman This is very helpful indeed. The years 1:10 seems a reasonable input so should be supported. Would you like to put in a pull request to gain credit for this? Else I will implement in the coming weeks.

Out of interest, how did you find out about this package?

[2019-01-25 12:42] MartinStjernman commented on #23
@AugustT  I'm afraid I have no experience of pull requests and am therefore quite satisfied with you making the implementation. As I wrote earlier, I'm not sure my solution is the optimal one and am not even sure why the sorting (in species alphabetical order) is made in the first place since, after a quick read-through of the code, I cannot find any reason it would be necessary to change species

[2019-02-06 15:37] AugustT commented on #23
Tom's notes:

A little context - My work in BRCincators was to create a simple wrapper around some existing code created by Statistics Netherlands.

So this issue is present in the original code https://www.cbs.nl/en-gb/society/nature-and-environment/indices-and-trends--trim--/msi-tool - which means the issue is larger than the implementation here in BRCindicators. I will inform the original autho

[2019-02-07 08:55] MartinStjernman commented on #23
@AugustT
If I'm not totally mistaken, from your example it is difficult to tell whether the sorting in msi_tool has messed up your results. Yes, from msi_out$results$year you can see that years are sorted. But you need to check that each year has been associated with the right multispecies index in the output. I would guess it has not. Since I had (in my simulated data) indices that constantly dec

[2019-02-07 09:28] MartinStjernman commented on #23
And, yes, as far as I can see, your fix should work. Alternatively, one could get INP2 from rdata directly (i.e. take advantage of the data.frame format where observations are kept "intact") by using f ex.

INP2 <- rdata[order(rdata$species, rdata$year), ]

I don't really follow why variables are extracted from data.frames (e.g. rdata) in lines like
species <- rdata[, 'species']
year <- rdata[, 'y

[2019-02-07 09:56] AugustT commented on #23
These rather odd assignments:

[code]

While odd, are there to make the code as identical as possible to the original code.

[2019-02-07 10:03] MartinStjernman commented on #23
Yes, I understand and fully appreciate your desire to keep the code intact. Those remarks was more directed towards the original code.

[2019-02-07 14:36] AugustT commented on #23
Thanks for your feedback. I'm going to create a repex of your issue so I can be sure this solution works.

[2019-02-07 17:11] AugustT commented on #23
Okay, so here is a reproducible example of the problem, see that the sorting has moved the year 10 to be after year 1 and before year 2.

[code]
![image](https://user-images.githubusercontent.com/3987564/52429077-48ea8e00-2afb-11e9-8097-ea7ba49eb1ef.png)
[code]
![image](https://user-images.githubusercontent.com/3987564/52429041-35d7be00-2afb-11e9-935d-9a99c546a336.png)
[code]
[code]

[2019-02-07 17:12] AugustT commented on #23
I will now work on implementing the fix and will point the original authors to this thread so that they can address the issue in their original code and follow up on any analyses that might have been effected by this bug in the past.

[2019-02-20 15:21] AugustT commented on #23
I fixed this by changing the line in `msi_tool` to
[code]
I tested this under simulated increases, declines, random, and with years 1:10 and 1991:2000, all the results looked correct.

![image](https://user-images.githubusercontent.com/3987564/53102241-2dcc4500-3523-11e9-87c6-2a8c0ce32fe7.png)

[2019-02-20 15:21] #23 closed

[2019-03-01 20:27] larspett opened #27 "MSI subscript out of bounds error"
When trying out BRCindicators today, I ran into trouble with the multispecies indicators. Using the vignett information and generating the MSI data tutorial file, I recieve the error message:

Error in `[<-`(`*tmp*`, o, s, value = rnorm(1, LNindex[o, 1], LNse[o,  :
  subscript out of bounds
In addition: Warning message:
In rnorm(1, LNindex[o, 1], LNse[o, 1]) : NAs produced

The same response is re

[2019-03-03 21:18] larspett commented on #27
Tried it on my mac now with identical result /Lars

Error in `[<-`(`*tmp*`, o, s, value = rnorm(1, LNindex[o, 1], LNse[o,  :
  subscript out of bounds
In addition: Warning message:
In rnorm(1, LNindex[o, 1], LNse[o, 1]) : NAs produced

─ Session info ─────────────────────────────────────────────────────────────────────────────────────────────────────────────
 setting  value
 version  R version 3.5

[2019-03-04 09:00] MartinStjernman commented on #27
While I haven't scrutinized the code to fully understand where the problem appears (and why), the error appears when you have indices as proportional change instead of percentage change or more specifically when the base year have index 1 instead of index 100. In the documentation for the original msi_tool (https://www.cbs.nl/en-gb/society/nature-and-environment/indices-and-trends--trim--/msi-tool

[2019-03-04 09:37] AugustT commented on #27
@larspett can you share the code you ran.

I run the example within the help file without error

[code]

I do get an error with the vignette code (which was the bug I alluded to in our email exchange) but it is not the same as yours.

[code]
[code]
I can confirm @MartinStjernman 's *100 fix work s for me too. I note that originally I have a section of code which rescaled all species to 100 in the

[2019-03-04 09:48] AugustT commented on #27
This re-scaling might have been removed because of the flexibility of the tool that does not require the 100 value to be in the first year.

_The base year (with index 100) may differ between species and has standard error zero. If the indices are expressed with index 1 in the base year, all indices and standard errors should be multiplied by 100._

[2019-03-04 10:15] AugustT commented on #27
Okay, here is my suggested fix:

- [ ] Add link to the MSI manual from the vignette
- [ ] Specify in the vignette that the index value in the base year should be 100 and the se should be 0 in this year
- [ ] update the example in the vignette to conform to these needs
- [ ] Update the help documentation in `msi` and `msi_tool` to make the index 100 and se 0 conditions clear.
- [ ] Add a warning me

[2019-03-04 11:00] MartinStjernman commented on #27
I think you will get the same error as Lars if you run (like Lars did):
msi_out <- msi(data, plot=FALSE)

At least I did. You get the plot error since apparently what is reported is the error from plotting and not the error from msi_tool but I think the error actually appears in msi_tool and then the plot error appears since there is nothing useful to be plotted.

[2019-03-04 13:04] MartinStjernman commented on #27
Seems OK. From the MSI manual: " If the indices are expressed with index 1 in the base year, all indices and standard errors should be multiplied by 100." If species indices are calculated using TRIM or rtrim (which I think is the starting point for Soldaat et al) then SE in the base year is "automatically" zero and the zero will be preserved by the "multiply by 100"-instruction from the MSI manua

[2019-03-04 13:40] AugustT commented on #27
Yeah, I agree with all that. While I'm at it I'm going to change the code in `msi_tool` so that the CV values with species names are returned to R, as it stands the plot is pretty useless because the species names are coded to numbers.

[2019-03-04 14:37] AugustT commented on #27
I believe this issue is now resolved

[2019-03-04 14:37] #27 closed

[2019-03-04 14:38] larspett commented on #27
Thanks a lot, was off the grid today with aftershocks of a pretty bad flu. Will try this now

[2019-03-04 17:24] larspett opened #29 "MSI jobname parameter bounces"
When trying to set the jobname parameter of msi_tool via msi, msi_tool responds with an error saying that there multiple arguments for the jobname argument. I assume that the one I provide should overwrite the default one?

Error in msi_tool(wd = dir, inputFile = "input.csv", jobname = "MSI_job",  :
  formal argument "jobname" matched by multiple actual arguments

[2019-03-04 18:17] AugustT commented on #29
I have found the issue. `msi` currently passes a jobname which confuses things when a user specifies one as the user supplied one is passed via the ellipsis, resulting in the jobname argument being passed twice.

[2019-03-04 18:23] AugustT commented on #29
If you are using the `msi` function that the jobname is not so important since the results are returned directly to R.

[2019-03-04 18:24] AugustT commented on #29
I am pulling in a fix, seems to work for me. Can you check for yourself and close this issue if it works.

[2019-03-04 20:49] larspett commented on #29
Works fine now, thanks!

[2019-03-04 20:49] #29 closed

[2019-07-09 11:35] drnickisaac commented on #13
At present the `rescale_species()` and `bootstrap_indicator()` work with data on the measurement scale, but `bma()` required log or logit scale.

[2019-07-09 16:04] drnickisaac opened #31 "Build a test to capture errors in rescale_species"
There are many ways in which the data going into `rescale_species()` can cause problems. Many of these can be anticipated and caught or corrected. As a good example, `rescale_species()` currently throws an error if the first year of data is `NA` for every species. This can be easily fixed by removing these years from the dataset.

[2019-07-12 13:45] drnickisaac opened #33 "FY is not smart"
At present the `FY` part of bug_data in `bma()` uses the year numbers from the data. but the BUGS model scales everything from year 1, so `FY` must reflect this too.

[2019-07-12 13:47] AugustT commented on #33
i.e. years should go from 1:Nyears?

[2019-07-23 11:57] drnickisaac opened #34 "rescale_species fails with zeros in the input data"
@JackHHatfield91 spotted this.

The `rescale_species` function has a min and max argument to stop extreme values exerting undue influence on the geometric mean. We always assumed this would address problems with zeros in the input data. However, this is not true, because min and max are applied after the index values have been rescaled.

[code]

Cases where `Data==0` result in `mulitplier` taking

[2019-07-23 12:24] AugustT commented on #34
Yes, I see that a 0 in the first year is going to cause some problems!

Really this should be generalised to say that any time series starting with a 0 is a problem (i.e. 0,1,2,3 is problematic as is NA,NA,0,1). I think if you take this more general approach and change all 'leading zeros' to NAs then the zeros in the middle of sequences are no longer an issue? I believe once all the leading zeros

[2019-07-23 12:44] larspett commented on #34
If you have a leading zero in e.g. a butterfly monitoring dataset for TRIM analysis then there must be prior information around, otherwise it would be NA until the first observation has been made (i.e. the 0 means that there was information available saying that that species was there but wasn’t found, am not sure what the model assumptions say about situations like that.) My understanding would b

[2019-07-26 13:16] drnickisaac commented on #34
Thanks both.
I agree with your logic and suggestion for a fix, @AugustT
@larspett : I agree with you that leading zeros are typically informative. In the application I'm working on, leading zero arise because I have set the baseline year for the multispecies indicator to be later than the start date for some of the contributing species. Specifically, I'm combining data from multiple taxonomic grou

[2019-09-30 13:47] drnickisaac opened #35 "Clarify documentation on bootstrap_indicator()"
It's not clear, when using `bootstrap_indicator`, that the `Data `object should *not* include the `year` column. It's counter-intuitive because `rescale_species` does take a column with year included.

[2019-10-02 14:49] galinajonsson opened #36 "summarise_occDet() - object 'out' not found"
I'm having issues with the `summarise_occDet()` function. It appears that the `read_bayes` function isn't working for me as I get the below error message when trying to run `summarise_occDet()` with my own occDet result files. I do not get the same error message when I run the function using the data created in the vignette. The only difference is that my data were formatted with a closure_period

[2019-10-02 15:15] AugustT commented on #36
`object 'out' not found`

This makes me think you might not have called your object 'out'. Seems odd that that should be a requirement though. Can you copy your full script here so I can get a feel for the context?

[2019-10-02 15:17] AugustT commented on #36
The rdata files in `input_dir` need to contain an object called 'out', I guess this is not the case for you. Its an annoying requirement, we should really be using .rds files so that you can call them whatever you want

[2019-10-02 15:30] galinajonsson commented on #36
My script:
`summarise_occDet(input_dir = "path/to/rdataFiles")`

Example of structure of my rdata files (minus the "etc."):

[code]

Do you mean it should be: `results_Hesperia_comma$out$min_year` as opposed to `results_Hesperia_comma$min_year`? If so, could it be due to that I first saved the model output as .rds files, read the rds. files and then saved them as .rdata?

Thank you Tom!

[2019-10-02 16:30] drnickisaac commented on #36
Try :
out <- results_Hesperia_comma

Then try again.
Tom is right: this is an odd choice we've coded.

On Wed, 2 Oct 2019, 16:30 galinajonsson, <notifications@github.com> wrote:

[2019-10-02 16:43] AugustT commented on #36
Yes, what Nick said. We might be able to have our cake and eat it by adding a workaround to the function you are using.

[code]

We would need a form of this to the existing code around... here
https://github.com/BiologicalRecordsCentre/BRCindicators/blob/16e8853ad3725dfffcfcb12387951ddf883e344f/R/summarise_occDet.R#L30

The benefit here is that @galinajonsson would not have to go through and rena

[2019-10-03 10:54] drnickisaac commented on #36
This sounds like a good job for the upcoming Sprint

[2019-10-03 10:58] drnickisaac commented on #1
I'll be visiting Arco & Leo in the Hague soon after the Sprint, so I'd like to make this a priority

[2019-10-03 10:59] drnickisaac commented on #8
The datasets going into Freeman et al paper would be ideal candidates: UK bats, UK butterflies and Dragonflies (from Charlie's data).

[2019-10-03 13:44] galinajonsson commented on #36
Thanks for the suggestions, the issue was pretty easy to get around. I have worked through the vignette using my data and will raise a few additional issues based on my experiences. One issue is sparta-related so I will raise an issue in the sparta project too (`bma()` requires se whilst sparta gives sd and I'm always a bit confused as to what the sample size to use for getting se from sd when it

[2019-10-03 13:45] galinajonsson opened #37 "plot_indicator() changes years"
`plot_indicator()` changes the first year to 1 as opposed to plotting the actual years.

[2019-10-03 13:52] galinajonsson opened #38 "msi() plotting error"
I get the below plotting error when running `msi(data)`. The CV-plot is returned but not the index plot and the function doesn't run to completion.

[code]

`msi_out <- msi(data, plot = FALSE )` runs without any issues so I suspect there's an issue with the index plot.

[2019-10-03 13:59] galinajonsson opened #39 "Documentation for Lambda Indicator array"
The documentation for the array structure needed to run `lambda_indicator()` could do with some clarification. I assume the `data` in the below example should be the occupancy/index values from first to last year of sp1 followed by first to last year of sp2 etc. but it's not entirely clear from the documentation.

[code]

[2019-10-14 16:01] JackHHatfield91 commented on #39
Yes, the example that you give produces an array in the correct format. I will look at adding more information to the function help.

[2019-10-14 16:09] AugustT commented on #39
Yeah, a text description would be nice

[2019-10-14 16:10] AugustT commented on #12
Need to spend some time working out what format of data is going to work for all of the indicator functions

[2019-10-14 16:11] AugustT commented on #8
This should be straight forward as long as you have the data sets in a ready to use format. Also can you confirm that we have permission to make these data sets openly available in this way? @drnickisaac

[2019-10-14 16:12] AugustT commented on #7
I still question why this is needed

[2019-10-14 16:14] AugustT commented on #1
Not that this is a sub-issue of #12

[2019-10-14 16:15] AugustT commented on #3
I have no idea what my comment above is about! This seems to be a sub-issue of #12 though

[2019-10-14 16:19] AugustT commented on #14
This is a big job but should be pretty easy to get started with. @mlogie I CHOOSE YOU

![giphy](https://user-images.githubusercontent.com/3987564/66766720-b333a980-eea6-11e9-8b67-ff2092b8ad7f.gif)

[2019-10-14 16:24] AugustT commented on #19
I'm yet to be convinced this is something users need. In fact this function no longer exists...

[2019-10-14 16:25] AugustT commented on #35
Again, this is related to #12 and should be addressed if we standardise all the input data formats

[2019-10-15 08:53] AugustT commented on #12
harmonise rescale species bma and msi

[2019-10-15 08:56] AugustT commented on #12
Go with:  'species', 'year', 'index', 'se'

[2019-10-15 09:03] AugustT commented on #14
I will initialism testing

[2019-10-15 09:20] AugustT opened #40 "Check Jack's changes in sparta's downstream affects"
ie `min_year`

[2019-10-15 09:39] mlogie commented on #36
@AugustT in case it's useful, if you want to know the name of a R object you're loading, you can do:
`name <- load(fileName, verbose = TRUE)`

[2019-10-15 10:44] JackHHatfield91 commented on #40
I checked and this should be fine. My changes in SPARTA were made to the metadata in the attribute data. These functions use the value listed in the out object which I left alone for compatibility.

[2019-10-15 11:00] drnickisaac commented on #19
I'm working on this now. My inclination is to disaggregate `bma_BUGS_models.R` into multiple separate scripts with one function per script. Any reason why this is a bad idea?

[2019-10-15 11:27] AugustT commented on #36
That is sort of what is going on in the code I put in about. `get` is used on the name of the new object (though they use `ls()` to get it), and the function returns this, allowing the assignment

[2019-10-15 11:28] #40 closed

[2019-10-15 11:28] AugustT commented on #40
2 issues down without a line of code written... your on fire!

[2019-10-15 11:31] DavidRoy commented on #40
surely it should be _you're_ on fire.

pedantically yours....

[2019-10-15 11:34] AugustT commented on #40
Don't make me report you for abuse...

![Untitled](https://user-images.githubusercontent.com/3987564/66828073-0f9ad580-ef48-11e9-80fd-f43d2e7c2159.png)

[2019-10-15 13:27] JackHHatfield91 commented on #37
In the current format the years are specified by the user. If no year vector is provided this defaults to 1:length(indicator).

[2019-10-15 13:31] AugustT commented on #37
Can we use the information in the bugs summary to use the proper year numbers?

[2019-10-15 13:34] JackHHatfield91 commented on #37
As far as I can tell all data is directly supplied by the user as numeric vectors

[2019-10-15 13:39] AugustT commented on #37
The help file for `plot_indicator` shows that the **user** needs to provide the years, this is what the year argument is for

[2019-10-15 13:39] #37 closed

[2019-10-15 13:56] JackHHatfield91 commented on #22
This has already been done. Only summarise_occDet.R outstanding which should be covered by my pull request.

[2019-10-15 13:56] JackHHatfield91 commented on #39
Should now be covered in recent pull request

[2019-10-15 15:39] AugustT commented on #14
Tests have been initialised

[2019-10-15 15:40] AugustT commented on #8
Nick has shared these data sets with me. I need to document them and put them in the package

[2019-10-15 15:40] #39 closed

[2019-10-15 16:04] drnickisaac opened #44 "Allow BMA option without se column"

[2019-10-15 16:07] drnickisaac commented on #44
At line 71-73 on `bayesian_meta_analysis`

[2019-10-15 16:08] drnickisaac opened #45 "Add a function to standardise data to a common value"
to be called at line 103 of `bayesian_meta_analysis`
Make it optional
`rescale_species` already does this - utilise?

[2019-10-15 16:13] drnickisaac commented on #44
I had change (in my local version) lines 71-73 on `bayesian_meta_analysis`, such that if a column called `se` is not included, the script creates a column of `NA`s

[2019-10-15 16:17] drnickisaac opened #46 "Option for second derivative on"
Steve coded the calculation of the second derivative , so I've included `incl.2deriv` an option in the BUGS code for `bma_model_Smooth()`.
I reckon it may be more efficient to do the 2nd derivative stuff in R. I've left  with default = `FALSE`.

[2019-10-15 16:49] #44 closed

[2019-10-15 16:50] drnickisaac commented on #19
Done (locally) with new function `get_bmaBUGScode`

[2019-10-15 16:50] #19 closed

[2019-10-16 15:00] AugustT commented on #14
@mlogie can you put in a pull request for your tests (let me know if you need me to show you how this is done)?

Current coverage = 5% ....

[2019-11-27 15:23] AugustT commented on #38
I now also get this error when working on a linux machine

[2019-11-27 15:29] #38 closed

[2019-11-29 18:34] drnickisaac commented on #12
Note that index is on the measurement scale for `bootstrap_indicator()` but on the unbounded (log or logit) scale for `bma()`

[2019-11-29 18:36] drnickisaac commented on #15
I have started by deprecating seven options and meta-coding three others into a single function. Only smooth_det remains as a stand-alone function that is still accessible. Next step is to rename them with sensible names but also allow the old names.

[2019-12-06 11:17] AugustT opened #49 "Testing for BMA"
@drnickisaac Please add some tests that check all the various permutations of your recent work on the BMA code

[2019-12-10 15:53] drnickisaac commented on #33
I have fixed this. I've also fixed it so that the output model is indexed by the years in the input data, as opposed to starting at 1.

[2019-12-10 15:53] #33 closed

[2019-12-10 16:01] drnickisaac commented on #46
This is now in the BUGS code.
I think it may be more efficient to do as a post-hoc test ......
Anyway, the next step is to allow the "significant" second derviatives to be calculated.

[2019-12-10 16:02] drnickisaac commented on #5
I did some tests recently that showed rescaling does make a big difference if there are many missing data near the start of the series.
To fix this I need to get my head around what the `rescaleYr` argument is doing (see #4) and the `rescale_bayesian_indicator` function within `bma()`

[2019-12-10 16:18] drnickisaac commented on #15
I've made quite a lot of progress. There's now only two genuine options for within `bma()`: one is `smooth`, which has some options, and the other is the old `smooth_det`, which I want to look at more closely. In addition, there are options which effectively wrap around `smooth`, for backwards compatibility.
BUGS code for older options (e.g. `ranwalk`) are accessible via `get_bmaBUGScode()` but ca

[2019-12-11 16:04] DavidRoy opened #53 "Installing BRC Indicators requires JAGS to be pre-installed"
Required:
https://sourceforge.net/projects/mcmc-jags/files/JAGS/4.x/Windows/JAGS-4.3.0.exe/download

before this works:
library(devtools)
install_github(repo = 'biologicalrecordscentre/BRCindicators')

[2020-01-31 13:16] AugustT opened #54 "Undocumented code object"
Checks is currently unhappy that these functions are not documented:

[code]

[2020-01-31 14:31] AugustT commented on #53
The requirement is on `rjags` which in turn requires JAGS (needed `bma`). The solution is to move rjags to suggests and then have something responsive to the value of `require(rjags)` that walks users through what they need to do. Some users will never use JAGS so we shouldn't have the requirement to install it.

[2020-02-05 15:12] #8 closed

[2020-02-05 15:14] AugustT commented on #53
requirement is actually on `jagUI` a wrapper around rjags

[2020-02-05 16:20] #53 closed

[2020-02-05 16:45] AugustT commented on #49
@drnickisaac When running the example in bma I get a number of warnings:

[code]

[2020-02-05 17:20] AugustT commented on #49
Very simple tests incoming.

[2020-02-06 08:32] AugustT opened #58 "BMA default option doesn't work"
https://github.com/BiologicalRecordsCentre/BRCindicators/blob/abae2ddde01ece2b7e42861f8eca8c7babb347f0/R/bayesian_meta_analysis.R#L60

Quick fix needed @drnickisaac

It appears the default does not work. There is no model option for 'smooth'; compare the model default ('smooth'), to the list of options from L91

I know I sound like a broken record but this is why it is really important to have tes

[2020-02-10 13:23] drnickisaac commented on #58
Done on my version - now with pull request.

[2020-02-10 14:32] AugustT commented on #58
Best not to close it in case there are issues with the pull request. Instead you can now link this issue to your pull request on the right hand side of this page, when the pull request is merged this issue automatically closes. I have just done that for this issue.

[2020-02-12 15:35] #58 closed

[2020-02-13 08:30] #49 closed

[2020-02-13 14:12] drnickisaac commented on #45
I tried to write a bit of code today that would do this job. It's complicated because rescale_species uses a multiplier to scale the data. Steve Freeman prefers to start each time-series at zero, which requires a substraction.

[2020-02-13 16:25] drnickisaac commented on #45
I have now implemented this (locally). I've added an optional argument rescale_indices that defaults to NULL.  It takes an integer determining the starting value for each species.

[2020-02-13 16:34] AugustT commented on #45
Please only close once it is accepted into the repository

[2020-02-14 09:52] drnickisaac opened #61 "Return bugs_data object in bma()"
This would be useful for diagnosing problems, and for traceability.

[2020-04-10 15:14] drnickisaac opened #66 "Two new options for standard errors"
Freeman et al define four options for dealing with standard errors: BRCindicators currently implements two of them (options 2 and 4). It should be straightforward to add options 1 and 3 into `bma_BUGSmodels.R'

[2020-04-23 15:42] drnickisaac opened #67 "rescale_Yr doesn't behave as expected"
@galinajonsson noticed unexpected behaviour. `rescaleYr` treats the uncertainty as expected but does not scale the overall indicator to the baseline value in this year. Should be easy to fix.

[2020-04-23 15:45] AugustT commented on #67
is this internal to the bma function?

[2020-04-24 16:24] drnickisaac commented on #67
Yes, `rescaleYr` is an argument to `bma()`. This is what I will explore and fix.
But it's possible there are rescaling options elsewhere in the package.

[2020-04-25 14:16] drnickisaac commented on #67
I have explored the behaviour of `rescaleYr` in `bma()` and it behaves as I expected, at least when `errorY1 = FALSE`. When `errorY1 = TRUE` the only noticeable effect is to shift the line up or down. So I imagine that @galinajonsson used a different function for rescaling.
I'll close this issue now: there remains a question about which options we make available, and how they are explained/express

[2020-04-25 14:16] #67 closed

[2020-04-25 16:54] drnickisaac opened #68 "Harmonizing variable names in BUGS code with Freeman"
The `bma` method will be underpinned by the Freeman et al paper, so it would be worth harmonizing the code so that variable names match up. The following need to be renamed in both `bma_model_Smooth()` and where parameters are monitored, from line 190-203. I think it's just the following four parameters that need changing:
- spindex -> S
- logLambda -> G
- spgrowth -> R
- FY -> F

If we're making

[2020-12-01 17:28] drnickisaac opened #69 "Species names in output from Lambda method"
The Lambda method produces stacks of meta-data, but unfortunately this doesn't include the species identities, which would be very useful. Should be easy to fix.

[2020-12-01 20:37] drnickisaac commented on #69
Actually, on closer inspection, this is actually derived from `sampArray()` in `wrapperR`.

[2020-12-01 20:37] #69 closed

[2020-12-04 16:43] EBDennis opened #70 "Option to specify the number of cores for parallel run of bma"
It would be great if n.cores could be an input parameter for the bma function when running in parallel. It currently defaults to parallel::detectCores()-1 which I find can overwhelm my PC.

[2020-12-05 06:15] AugustT commented on #70
Good suggestion, Can you make the edit and put in a pull request?

[2020-12-07 13:54] #70 closed

[2021-01-05 17:16] 03rcooke opened #72 "trend_assessment for bma method"
Is there an easy/obvious way to adapt the code to allow `trend_assessment `to use the outputs from either the lambda method or the bma method?

This would be really useful for the plots created in `wrappeR`.

@AugustT

[2021-01-06 10:19] AugustT commented on #72
The trend assessment function is doing comparison between year values for species and the indicator line.

The worker functions are here https://github.com/BiologicalRecordsCentre/BRCindicators/blob/58f9591f0d27405dae2a46c26d0980a495700cd1/R/misc_functions.r#L421 and here https://github.com/BiologicalRecordsCentre/BRCindicators/blob/58f9591f0d27405dae2a46c26d0980a495700cd1/R/misc_functions.r#L491

[2021-01-07 21:52] drnickisaac commented on #72
@03rcooke  If you'd prepare a toy example (using one of the datasets within BRCindicators) I'd be happy to help.

[2021-01-08 18:07] 03rcooke commented on #72
Thanks for the information @AugustT

@drnickisaac Here's a toy example, I can't figure out how we can assess them without the species assessments provided by `lambda_indicator`:

[code]

[2021-01-11 10:43] AugustT commented on #72
@03rcooke
[code]

[2021-01-11 22:48] drnickisaac commented on #72
Looks good to me.
Does this fix it @03rcooke ?

[2021-01-12 08:57] AugustT commented on #72
I think @03rcooke also wants the species level assessment, but species level data is not returned by bla. @drnickisaac could bla return species level information?

[2021-01-12 09:56] 03rcooke commented on #72
Thanks @AugustT! Yep @drnickisaac, as Tom says this gives an assessment of the indicator, but I think Rob Boyd also wants the species assessments for the England indicator. This would be adapting `BRCindicators:::species_assessment()` I think, but `bma()` does not produce species-level information at the moment that would be needed to assess trends at the species-level.

[2021-01-12 15:12] drnickisaac commented on #72
Extract mean growth rates on the log scale
`mean_spgrowth <- colMeans(attr(bma_ind, "model")$mean$spgrowth)`
Convert to % change
`100*(exp(mean_spgrowth)-1)`
I think this is right, but please check. A good test would be to compare like-for-like growth rates of lambda and `bma`: I would expect the results to be very close to 1:1.

[2021-01-12 16:06] AugustT commented on #72
Ah, it was in the model, nice.

Also note that in my example I used the M Prime stats. I'm not sure of the difference between M and M` so you might want to check that is the one to use.

[2021-01-12 18:02] drnickisaac commented on #72
Yes, use Mprime. There's a paragraph in discussion of Freeman et al about
pros and cons.

On Tue, 12 Jan 2021 at 16:06, Dr Tom August <notifications@github.com>
wrote:

--
http://drnickisaac.weebly.com/
*http://www.ceh.ac.uk/staff/nick-isaac
<http://www.ceh.ac.uk/staff/nick-isaac>*
@drnickisaac

*
<http://www.britishecologicalsociety.org/getting_involved/special_interest_groups/Macroecology.php>*

[2021-01-14 13:03] 03rcooke opened #73 "error in year 1 for bma indicator"
I don't fully understand the parameters of the bma indicator, but as far as I can tell all combinations of the parameters produce zero error in year 1 for this test data.

Which is strange as sometimes I seem to produce non-zero error in year 1 with actual data (when I filter the data to 1994-2020, but not when I use 1970??)

Reproducible example:

[code]

@drnickisaac

[2021-02-22 14:46] drnickisaac opened #74 "Better metadata on the output"
It would be really handy to store the input parameters on the outputtted model, as in sparta. Something like
`attr(MSI, "call") <- call`

[2021-02-22 14:59] AugustT commented on #74
This is what you need

[code]

[2021-03-02 16:55] 03rcooke commented on #72
I still can't quite understand how to do the species assessments for the bma method @drnickisaac. Here's an example, the values don't seem to be similar with the lambda method and the bma method:

[code]

[2021-03-02 17:22] drnickisaac commented on #72
Rob, can yoy point me towards a datalab project with a working example?

On Tue, 2 Mar 2021, 16:55 Dr Rob Cooke, <notifications@github.com> wrote:

[2021-03-02 17:37] 03rcooke commented on #72
Recompile project - Recompile has the toy set up in the environment @drnickisaac

[2021-03-02 20:37] drnickisaac commented on #72
Thanks @03rcooke. I have explored a little. First I double-checked the code. Everything you've done looks good. Then I plotted the numbers against one another:
![image](https://user-images.githubusercontent.com/3996072/109710119-34233c00-7b95-11eb-97f4-dddd5fbeb277.png)
This shows that bma estimates smaller values than lambda, but the correlation between them is reasonably tight. This is not entir

[2021-03-02 20:40] drnickisaac commented on #72
Two further important caveats:
1) the lambda method estimates growth rates on the `logit` scale, whereas bma uses `log` scale. This is likely to make very little difference in the simulated data above, where all species have occupancy close to 0.5. However, for real data many species have extremely low values of occupancy, so the growth rates on the logit scale tend to be stretched somewhat. I've

[2021-03-02 20:46] drnickisaac commented on #72
If you wanted to check this in more detail,  there's a couple of things you could do:
1) rerun `bma()` with `logit(occupancy)` (don't forget to set `m.scale = "logit"`). The match with lambda should be closer.
2) try a simulated dataset in which occupancy varies more among species but less between years. There is a 'simulate_indicator()` function in BRCindicators that will do this for you. Unhelpf

[2021-03-09 12:15] AugustT opened #76 "Update BRCindicators authorship"
A significant contribution has been made to BRCindicators by new members of the team, this should be reflected in the authorship.

[2021-03-15 17:50] drnickisaac opened #77 "zero counts in bma()"
@03rcooke  has made me realise an unwelcome behaviour in `bma()`. One virtue of the model, in theory, is that it can account for zero counts. But actually we ask for the data to be provided on the log scale. So there's an inconsistency that we've not really documented.

[2021-07-12 11:07] drnickisaac opened #79 "Species growth rate estimates - option to omit imputed values"
The method produces a species growth rate for each species in each year: these are imputed for species-year combinations with no data. Both "real" and imputed growth rates are included in the `spgrowth` object, which we use for bar charts in UKBI.

However, for UKBI it does not make sense to include these imputed values for categorising species. I recall that @03rcooke used a workaround for either

[2021-07-13 09:12] 03rcooke commented on #79
Hmm, I don't actually recall this. I don't think I realised that there would be the possibility to separate "real" and imputed growth rates. I thought the `spgrowth` object just included modelled growth rates, so I treated them all the same. The workaround I built was to accommodate the `bma` method into the species and indicator assessments, which I have now incorporated into the `BRCindicators`

[2021-08-23 16:20] drnickisaac opened #80 "Consider reverting back to antilog transformation for m.scale="logit""
There is an `m.scale` argument in `bma` that allows users to record how the data were transformed before going into the model. This argument is then used to determine the back-transformation for the indicator.

Originally, if `m.scale="logit"` then the inverse logit transformation was used, such that the resulting index would be bounded between 0 and 1 (as the original data going in). However, we

[2021-08-23 16:22] drnickisaac commented on #73
I've been looking into this and I think I can explain. The reason is that the whole model is based on estimating growth rates between adjacent years. This means that any uncertainty in the input data for year 1 gets propagated into the growth rate between years 1 and 2, not the index values. NB M.prime​ will have uncertainty in year 1 if there are species with missing data for that year, which exp

[2022-07-13 12:21] Engine-Wu opened #81 "Error in MSI"
I run the example code and finally received the error information like that “Error in log(index): non-numeric argument to mathematical function”. I don't know how to fix this problem. @AugustT
![MessageCenterUI_o1yX1thF6s](https://user-images.githubusercontent.com/10155122/178731952-f4ba5792-5f78-4faa-bc86-c5e88ae5ffb7.png)

[2022-07-13 13:51] AugustT commented on #81
Your error suggests that somewhere R is trying to `log` something like a `NULL` or logical

[2022-07-13 14:08] Engine-Wu commented on #81
I copy your code and run , but receive the same error information.

[2022-07-13 18:35] Engine-Wu commented on #81
I test the package. The result is below.  "Error in `log(index)`: non-numeric argument to mathematical function"  is in the MSI.

`==> devtools::test()

ℹ Loading BRCindicators
ℹ Testing BRCindicators
✔ | F W S  OK | Context
✖ | 4       0 | Test bma [0.3s]
────────────────────────────────────────────────────────────────────────────────────────────────
Error (testbma.R:16:3): simple run
Error: Pack

[2022-10-14 12:14] drnickisaac commented on #81
I too have explored this and I do not get the error. Perhaps it is a versioning issue. Would you please send us your `sessionInfo()`

[2022-10-14 14:02] larspett commented on #81
Here it is: R version 4.2.1 (2022-06-23 ucrt)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19044)

Matrix products: default

locale:
[1] LC_COLLATE=Swedish_Sweden.utf8  LC_CTYPE=Swedish_Sweden.utf8    LC_MONETARY=Swedish_Sweden.utf8
[4] LC_NUMERIC=C                    LC_TIME=Swedish_Sweden.utf8

attached base packages:
[1] stats     graphics  grDevices utils

[2022-10-14 14:03] larspett commented on #81
I ran the example code for msi and keep getting

Error in log(index) : non-numeric argument to mathematical function

[2022-10-14 14:48] larspett commented on #81
And here is the code snippet (from the help) that produced that error on my system
[msi.txt](https://github.com/BiologicalRecordsCentre/BRCindicators/files/9787452/msi.txt)

[2022-10-14 14:49] larspett commented on #81
JAGS is 4.3.0

[2022-10-16 20:06] larspett commented on #81
Could it be that either a required library was not brought over to the new directory during a main R upgrade or that the JAGS (or something else that is required) has an incorrect path in R after an upgrade? BRCindicators worked quite recently on this win10 computer but since then R had a major upgrade and I ported the libraries to the new directory.

[2022-10-17 09:35] larspett commented on #81
Ping @AugustT @drnickisaac The demo code runs just fine on R i386 4.1.3 but not on R 4.2.1 on my machine. Can't test i386 4.1.3 on RStudio since RStudio crashes then (not happy with i386 when 4.2.1 x64 is installed)

[2022-10-17 12:30] AugustT commented on #81
@larspett Thanks for pining down the cause. I'm travelling for the next 2 weeks so it is unlikely I will have the time to dig into it

@drnickisaac The error is from here: https://github.com/BiologicalRecordsCentre/BRCindicators/blob/31b7dc69a1fe88719e0c26f4a94a6de3f0dbfcbe/R/msi_tool.R#L141

This function should be debugged and the values in `index` need to be checked throughout the function. I s

[2022-10-18 01:44] Engine-Wu commented on #81
@AugustT @drnickisaac @drnickisaac I run the demo code in MAC and Linux system. I get the same error information.

[2022-11-25 11:58] FrancescaMancini opened #82 "error in lambda_indicator"
`BRCindicators:::getData` was masked by `nlme::getData` so that was returning this error

`Error in getData(input = input, sample_size = sample_size, region = region) :
  unused arguments (input = input, sample_size = sample_size, region = region)`

Once that was fixed, I got the original error from BRCindicators:::remove_bad_species

`Error in Occ[, , j] * reliable : non-numeric argument to binar